html {
    text-align: center;
    font-family: monospace;
    background-color: rgba(169, 235, 255, 0.445);
}

.right {
    float: right;
}

.left {
    margin-top: 30px;
    display: inline-block;
    background-color: rgba(126, 126, 141, 0.568);
    border: 5px solid black;
}

.square {
    background-color: rgba(238, 238, 238, 0.322);
    border: 1px solid black;
}

.color {
    background-color: rgb(66, 66, 66);
    border: 1px solid black;
}

.gridContainer {
    margin-top: 25px;
    margin-right: 40px;
    display: inline-grid;
    grid-template-columns: repeat(16, 2fr);
    grid-template-rows: repeat(16, 2fr);
    border: 5px solid black;
    border-radius: 5px;
    height: 600px;
    width: 600px;
}

#quantity {
    background-color: rgba(176, 231, 248, 0.363);
    margin-bottom: 10px;
}

label {
    margin-left: 10px;
}

.reset {
    margin-right: 10px;
}